In [91]:
#Decode label encoder
import pandas as pd

test = pd.read_csv("/Users/samgreene/Downloads/V2_TEST_DATA_ENCODED_TRANSFORMED.csv")

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()


Neighborhood = pd.read_csv("/Users/samgreene/Dazed-Confusion-Matrix/data/V2_Neighborhood_decoder.csv", header=None)

le.fit(Neighborhood[0])



test["Neighborhood"]=le.inverse_transform(test["Neighborhood"])

In [92]:
neigh_csa = pd.read_csv('/Users/samgreene/Downloads/neighborhoods.csv')

In [93]:
#Merge CSAs based on Neighborhood
test = pd.merge(test, neigh_csa, how = 'left', left_on = 'Neighborhood', right_on='Neighborhood')

In [94]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51730 entries, 0 to 51729
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      51730 non-null  int64
 1   CrimeDate       51730 non-null  object
 2   Description     51730 non-null  int64
 3   District        51730 non-null  int64
 4   Neighborhood    51730 non-null  object
 5   Premise         51730 non-null  int64
 6   Month           51730 non-null  int64
 7   Hour            51730 non-null  int64
 8   Outside         51730 non-null  int64
 9   Weapon_FIREARM  51730 non-null  int64
 10  Weapon_HANDS    51730 non-null  int64
 11  Weapon_KNIFE    51730 non-null  int64
 12  Weapon_NONE     51730 non-null  int64
 13  Weapon_OTHER    51730 non-null  int64
 14  Holiday         51730 non-null  int64
 15  Weekend         51730 non-null  int64
 16  CSA             51215 non-null  object
dtypes: int64(14), object(3)
memory usage: 7.1+ MB

In [95]:
#Import Demo Data
income = pd.read_csv('/Users/samgreene/Desktop/Baltimore Demo Data/Median_Household_Income.csv')
poverty = pd.read_csv('/Users/samgreene/Desktop/Baltimore Demo Data/Percent_of_Family_Households_Living_Below_the_Poverty_Line.csv')
perc18_24 = pd.read_csv('/Users/samgreene/Desktop/Baltimore Demo Data/Percent_of_Population_18-24_Years_old.csv')
perc25_64 = pd.read_csv('/Users/samgreene/Desktop/Baltimore Demo Data/Percent_of_Population_25-64_Years_old.csv')
perc65up = pd.read_csv('/Users/samgreene/Desktop/Baltimore Demo Data/Percent_of_Population_65_Years_and_over.csv')
perc_asian = pd.read_csv('/Users/samgreene/Desktop/Baltimore Demo Data/Percent_of_Residents_-_Asian_(Non-Hispanic).csv')
perc_aa = pd.read_csv('/Users/samgreene/Desktop/Baltimore Demo Data/Percent_of_Residents_-_Black_African-American_(Non-Hispanic).csv')
perc_hispanic = pd.read_csv('/Users/samgreene/Desktop/Baltimore Demo Data/Percent_of_Residents_-_Hispanic.csv')
perc_white = pd.read_csv('/Users/samgreene/Desktop/Baltimore Demo Data/Percent_of_Residents_-_White_Caucasian_(Non-Hispanic).csv')
households = pd.read_csv('/Users/samgreene/Desktop/Baltimore Demo Data/Total_Number_of_Households.csv')
housing = pd.read_csv('/Users/samgreene/Desktop/Baltimore Demo Data/Median_Price_of_Homes_Sold.csv')
diversity = pd.read_csv('/Users/samgreene/Desktop/Baltimore Demo Data/Racial_Diversity_Index.csv')

In [96]:
#Create function to clean up years
def year(Year):
    yr = '20' + str(Year[-2]) + str (Year[-1])
    return int(yr)

In [97]:
#Create functions to transform demographic dataframes
def clean_demo(df):
    cols = df.columns.to_list()
    
    beg = cols.index("CSA2010")
    end = cols.index("Shape__Area")
    
    val_vars = cols[beg+1:end]
    
    df1=df.melt(id_vars = ['CSA2010'],
                value_vars = val_vars,
                var_name = 'Year',
                value_name = val_vars[0][0:4])
    
    df1['Year'] = df1['Year'].apply(year)
    
    return df1

def clean_demo_housing(df):
    cols = df.columns.to_list()
    
    beg = cols.index("CSA2010")
    end = cols.index("SHAPE_Length")
    
    val_vars = cols[beg+1:end]
    
    df1=df.melt(id_vars = ['CSA2010'],
                value_vars = val_vars,
                var_name = 'Year',
                value_name = val_vars[0][0:4])
    
    df1['Year'] = df1['Year'].apply(year)
    
    return df1

In [98]:
#Transform Demo data
income = clean_demo(income)
poverty = clean_demo(poverty)
perc18_24 = clean_demo(perc18_24)
perc25_64 = clean_demo(perc25_64)
perc65up = clean_demo(perc65up)
perc_asian = clean_demo(perc_asian)
perc_aa = clean_demo(perc_aa)
perc_hispanic = clean_demo(perc_hispanic)
perc_white = clean_demo(perc_white)
households = clean_demo(households)
housing = clean_demo_housing(housing)
diversity = clean_demo(diversity)

In [99]:
test

,Unnamed: 0,CrimeDate,Description,District,Neighborhood,Premise,Month,Hour,Outside,Weapon_FIREARM,Weapon_HANDS,Weapon_KNIFE,Weapon_NONE,Weapon_OTHER,Holiday,Weekend,CSA
0,1,2018-12-30,7,3,HOMELAND,78,12,0,1,0,0,0,1,0,0,1,North Baltimore/Guilford/Homeland
1,2,2018-12-29,4,0,UPTON,69,12,0,0,0,0,0,1,0,0,1,Upton/Druid Heights
2,3,2018-12-29,12,2,PULASKI INDUSTRIAL AREA,38,12,0,0,0,0,0,1,0,0,1,Southeastern
3,4,2018-12-28,4,6,RIVERSIDE,50,12,0,0,0,0,0,1,0,0,0,South Baltimore
4,5,2018-12-28,3,4,LANGSTON HUGHES,78,12,0,1,0,0,0,1,0,0,0,Pimlico/Arlington/Hilltop
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51725,65664,2018-02-19,3,2,FRANKFORD,54,2,23,1,0,0,0,1,0,1,0,Cedonia/Frankford
51726,65665,2018-01-29,4,2,PULASKI INDUSTRIAL AREA,3,1,23,0,0,0,0,1,0,0,0,Southeastern
51727,65666,2017-09-19,8,7,ALLENDALE,78,9,23,1,0,0,0,1,0,0,0,Allendale/Irvington/S. Hilton
51728,65667,2017-09-19,5,2,FRANKFORD,1,9,23,0,0,0,0,1,0,0,0,Cedonia/Frankford
51729,65668,2017-09-09,3,4,WINDSOR HILLS,78,9,23,1,0,0,0,1,0,0,1,Forest Park/Walbrook

In [100]:
def get_year(x):
    year = x[0:4]
    return int(year)

In [101]:
test['Year'] = test['CrimeDate'].apply(get_year)

In [102]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51730 entries, 0 to 51729
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      51730 non-null  int64
 1   CrimeDate       51730 non-null  object
 2   Description     51730 non-null  int64
 3   District        51730 non-null  int64
 4   Neighborhood    51730 non-null  object
 5   Premise         51730 non-null  int64
 6   Month           51730 non-null  int64
 7   Hour            51730 non-null  int64
 8   Outside         51730 non-null  int64
 9   Weapon_FIREARM  51730 non-null  int64
 10  Weapon_HANDS    51730 non-null  int64
 11  Weapon_KNIFE    51730 non-null  int64
 12  Weapon_NONE     51730 non-null  int64
 13  Weapon_OTHER    51730 non-null  int64
 14  Holiday         51730 non-null  int64
 15  Weekend         51730 non-null  int64
 16  CSA             51215 non-null  object
 17  Year            51730 non-null  int64
dtypes: int64(15), object(3)
memory usage: 7.5+ MB

In [103]:
#Merge Demo data to Old data
test = pd.merge(test, income, how = 'left', left_on = ['CSA','Year'], right_on=['CSA2010','Year']).drop('CSA2010',axis=1)
test = pd.merge(test, poverty, how = 'left', left_on = ['CSA','Year'], right_on=['CSA2010','Year']).drop('CSA2010',axis=1)
test = pd.merge(test, perc18_24, how = 'left', left_on = ['CSA','Year'], right_on=['CSA2010','Year']).drop('CSA2010',axis=1)
test = pd.merge(test, perc25_64, how = 'left', left_on = ['CSA','Year'], right_on=['CSA2010','Year']).drop('CSA2010',axis=1)
test = pd.merge(test, perc65up, how = 'left', left_on = ['CSA','Year'], right_on=['CSA2010','Year']).drop('CSA2010',axis=1)
test = pd.merge(test, perc_asian, how = 'left', left_on = ['CSA','Year'], right_on=['CSA2010','Year']).drop('CSA2010',axis=1)
test = pd.merge(test, perc_aa, how = 'left', left_on = ['CSA','Year'], right_on=['CSA2010','Year']).drop('CSA2010',axis=1)
test = pd.merge(test, perc_hispanic, how = 'left', left_on = ['CSA','Year'], right_on=['CSA2010','Year']).drop('CSA2010',axis=1)
test = pd.merge(test, perc_white, how = 'left', left_on = ['CSA','Year'], right_on=['CSA2010','Year']).drop('CSA2010',axis=1)
test = pd.merge(test, households, how = 'left', left_on = ['CSA','Year'], right_on=['CSA2010','Year']).drop('CSA2010',axis=1)
test = pd.merge(test, housing, how = 'left', left_on = ['CSA','Year'], right_on=['CSA2010','Year']).drop('CSA2010',axis=1)
test = pd.merge(test, diversity, how = 'left', left_on = ['CSA','Year'], right_on=['CSA2010','Year']).drop('CSA2010',axis=1)

In [104]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51730 entries, 0 to 51729
Data columns (total 30 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      51730 non-null  int64
 1   CrimeDate       51730 non-null  object
 2   Description     51730 non-null  int64
 3   District        51730 non-null  int64
 4   Neighborhood    51730 non-null  object
 5   Premise         51730 non-null  int64
 6   Month           51730 non-null  int64
 7   Hour            51730 non-null  int64
 8   Outside         51730 non-null  int64
 9   Weapon_FIREARM  51730 non-null  int64
 10  Weapon_HANDS    51730 non-null  int64
 11  Weapon_KNIFE    51730 non-null  int64
 12  Weapon_NONE     51730 non-null  int64
 13  Weapon_OTHER    51730 non-null  int64
 14  Holiday         51730 non-null  int64
 15  Weekend         51730 non-null  int64
 16  CSA             51215 non-null  object
 17  Year            51730 non-null  int64
 18  mhhi            49492 non-null  float64
 19  hhpo            49492 non-null  float64
 20  age2            49492 non-null  float64
 21  age6_x          49492 non-null  float64
 22  age6_y          49492 non-null  float64
 23  pasi            49492 non-null  float64
 24  paa1            49492 non-null  float64
 25  phis            49492 non-null  float64
 26  pwhi            49492 non-null  float64
 27  hhs1            0 non-null      float64
 28  sale            49492 non-null  float64
 29  racd            49492 non-null  float64
dtypes: float64(12), int64(15), object(3)
memory usage: 12.2+ MB

In [105]:
#Clean column names
test = test.rename(columns = {'mhhi': 'median_household_income',
                          'hhpo': 'households_below_poverty',
                          'age2': 'perc18_24',
                          'age6_x': 'perc25_64',
                          'age6_y': 'perc65up',
                          'pasi': 'perc_asian',
                          'paa1': 'perc_aa',
                          'phis': 'perc_hisp',
                          'pwhi': 'perc_white',
                          'hhs1': 'num_households',
                          'sale': 'median_price_homes_sold',
                          'racd': 'racial_diversity_index'})

In [106]:
#Create function to get group medians of household data
def get_median(df):
    var = df.columns[2]
    
    group = df.groupby('CSA2010')[var].median()
    group_df = pd.DataFrame({'CSA2010': group.index, 'median': group.values})
    
    return group_df

In [107]:
houses = get_median(housing)

In [108]:
#Merge household data
test = pd.merge(test, houses, how = 'left', left_on = 'CSA', right_on='CSA2010').drop('CSA2010',axis=1)

In [109]:
test = test.drop('num_households', axis = 1)

In [110]:
test = test.rename(columns = {'median':'num_households'})

In [111]:
test.isnull().sum(axis = 0)

Unnamed: 0                     0
CrimeDate                      0
Description                    0
District                       0
Neighborhood                   0
Premise                        0
Month                          0
Hour                           0
Outside                        0
Weapon_FIREARM                 0
Weapon_HANDS                   0
Weapon_KNIFE                   0
Weapon_NONE                    0
Weapon_OTHER                   0
Holiday                        0
Weekend                        0
CSA                          515
Year                           0
median_household_income     2238
households_below_poverty    2238
perc18_24                   2238
perc25_64                   2238
perc65up                    2238
perc_asian                  2238
perc_aa                     2238
perc_hisp                   2238
perc_white                  2238
median_price_homes_sold     2238
racial_diversity_index      2238
num_households              2238
dtype: int64

In [112]:
import numpy as np

In [113]:
test[test['perc18_24'].isnull()][['Year','CSA','Neighborhood']]

       Year         CSA               Neighborhood
22     2018  Coldstream  COLDSTREAM HOMESTEAD MONT
38     2018   Mondawmin                  MONDAWMIN
68     2018   Mondawmin                  MONDAWMIN
73     2018   Mondawmin                  MONDAWMIN
74     2018         NaN  LOCUST POINT INDUSTRIAL A
...     ...         ...                        ...
51650  2018  Washington  WASHINGTON VILLAGE/PIGTOW
51655  2018  Washington  WASHINGTON VILLAGE/PIGTOW
51666  2018  Coldstream  COLDSTREAM HOMESTEAD MONT
51673  2018  Coldstream  COLDSTREAM HOMESTEAD MONT
51680  2017         NaN                    OVERLEA

[2238 rows x 3 columns]

In [114]:
test.isnull().sum(axis = 0)

Unnamed: 0                     0
CrimeDate                      0
Description                    0
District                       0
Neighborhood                   0
Premise                        0
Month                          0
Hour                           0
Outside                        0
Weapon_FIREARM                 0
Weapon_HANDS                   0
Weapon_KNIFE                   0
Weapon_NONE                    0
Weapon_OTHER                   0
Holiday                        0
Weekend                        0
CSA                          515
Year                           0
median_household_income     2238
households_below_poverty    2238
perc18_24                   2238
perc25_64                   2238
perc65up                    2238
perc_asian                  2238
perc_aa                     2238
perc_hisp                   2238
perc_white                  2238
median_price_homes_sold     2238
racial_diversity_index      2238
num_households              2238
dtype: int64

In [116]:
#Export Data to CSV
test.to_csv('V2_TEST_DATA_WITHDEMOGRAPHICS.csv')